@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


* { margin: 0; padding: 0; box-sizing: border-box; }
/*======================
Typography
======================*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
}
p {
    font-family: 'Commissioner', sans-serif;
}

/*======================
Classes
======================*/
.container { margin:0 auto; max-width: 1200px; width: 100%; }
.reverse { flex-direction: row-reverse; }
.flex { display: flex; flex-direction: row; }

/*======================
Header
======================*/
#main-header {
    width: 100%;
}
    #main-header .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 24px 5px;
    }
        #main-header ul li.active a{
            color: #914133 !important;
            border-bottom: solid 2px #914133;
        }

#main-menu {
    font-family: 'Barlow Condensed', sans-serif;
    justify-content: flex-end;
    display: flex;
}
    #main-menu ul {
        display: flex;
        list-style: none;
        flex-direction: row;
    }
        #main-menu ul li {
            margin: 0px 10px;
        }
            #main-menu ul li a {
                text-decoration: none;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 32px;
                padding: 0px 14px;
                color: #053E5F;
            }
#kebab {
    margin: 0px 25px;
}
    #kebab span {
        display: block;
        height: 7px;
        width: 7px;
        background: #053e5f;
        border-radius: 100%;
        margin: 4px 0px;
    }
    
/*======================
Main
======================*/

#hero {
    display: flex;
    height: 100%;
}
    #hero div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        align-self: center;
        margin: 10px;
    }
        #hero div img {
            width: 100%;
            height: auto;
        }
        #hero div h4 {
            font-weight: 600;
            color: #914133;
            font-family: 'Fira Sans', sans-serif;
            text-transform: uppercase;
        }
        #hero div h1 {
            font-family: 'Fira Sans', sans-serif;
            font-weight: 900;
            font-size: 52px;
            color: #053E5F;
        }
        #hero div p {
            font-family: 'Commissioner', sans-serif;
            color: #858b8d;
            font-size: 18px;
            margin-top: 24px;
        }
/*======================
About
======================*/

#about {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
    #about div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        align-self: center;
        margin: 10px;
    }
        #about #text {
            align-items: flex-end !important;
            align-self: flex-end;
        }
        #about div img {
            width: 100%;
            height: auto;
        }
        #about div p {
            font-family: 'Commissioner', sans-serif;
            color: #858b8d;
            font-size: 18px;
            margin-top: 24px;
        }

/*======================
Other
======================*/
section#other h1 {
    margin: 7vh 0px;
    font-family: 'Fira Sans';
    font-size: 42px;
    color: #053E5F;
    font-weight: 900;
    text-align: center;
}
    section#other .cards {
        padding: 50px 40px;
        background: #FBF19A;
        margin: 10px;
        border-radius: 50px;
        flex: 1;
    }
        section#other h4 {
            font-family: 'Barlow Condensed', sans-serif;
            color: #914133;
            font-size: 26px;
            text-transform: uppercase;
            margin-bottom: 21px;
        }
        section#other .cards p {
            font-family: 'Commissioner', sans-serif;
            font-size: 18px;
            line-height: 1.4em;
            margin: 21px 0px;
            color: #053E5F;
        }

/*======================
Symbolism
======================*/
#symbolism #hero{
    height: 75vh;
    background: url('../img/hero.png');
    background-size: cover;
    background-position: center;
}
#symbolism .content {
    margin: 50px 0px;
    align-items: center;
}
    #symbolism .cards {
        background-color: rgba(133, 139, 141, 0.25) !important;
    }
    #symbolism .content .flex {
        align-items: center;
    }
        #symbolism .cards ul li {
            font-family: 'Fira Sans', sans-serif;
            color: #858b8d;
            margin-left: 1em;
        }
        #symbolism .content h1 {
            font-family: 'Fira Sans', sans-serif;
            color: #053E5F;
            font-size: 48px;
            width: min-intrinsic;
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            display: table-caption;
            display: -ms-grid;
            -ms-grid-columns: min-content;
            padding: 5px;
            font-weight: 800;
            line-height: 1em;
        }
        #symbolism .content p {
            padding: 5px;
            color: #858b8d;
        }

/*======================
Artists
======================*/
#artists {
    min-height: 100vh;
}
    #artists #quote {
        background: #fbf19a;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px 0px;
        flex-direction: column;
    }
        #artists #quote h2 {
            font-family: 'Fira Sans', sans-serif;
            color: #053e5f;
            width: 100%;
            font-size: 28px;
            max-width: 720px;
            padding: 10px;
            font-weight: 900;
            line-height: 1.3em;
            font-style: italic;
            letter-spacing: 0.05px;
        }
        #artists #quote h3 {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 24px;
            color: #914133;
        }
    #artists #meet-the-artists {
        margin: 5em 0px;
    }
        #artists #meet-the-artists div{
            flex: 1;
            padding: 10px 5px;
        }
            #artists #meet-the-artists div h1 {
                font-size: 52px;
                color: #053e5f;
                font-weight: 900;
            }
            #artists #meet-the-artists div p {
                color: #aaa;
            }
    #artists #max {
        background-color: rgba(5,62,95,0.5);
        padding: 25px 10px;
        display: flex;
    }
        #artists #max #wrapper div {
            display: flex;
            flex-direction: column;
        }
        #artists #max #max-profile {
            background: url(../img/hero.png);
            display: flex;
            min-height: 700px;
            background-size: cover;
            background-position: center;
            justify-content: flex-end;
            flex: 1;
        }
            #artists #max #max-profile h2{
                color: #914133;
                font-weight: 900;
                font-style: italic;
                font-weight: 900;
                padding: 12px;
            }
            #artists #max #max-desc {
                margin-right: 24px;
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            .assets {
                display: flex;
                flex: 1;
                /* height: 100%; */
                justify-content: flex-end;
                flex-direction: column;
            }
            .assets div a {
                background: #053e5f;
                padding: 10px;
                font-family: 'Commissioner', sans-serif;
                color: #fbf19a;
                margin: 5px 0px;
                text-decoration: none;;
                display: block;
            }
            .assets div {
                margin: 10px 0px;
            }
            #artists #max #max-desc h1{
                color: #914133;
                font-size: 4em;
                font-weight: 900;
                padding: 12px 0px;
            }
            #artists .assets h4 {
                color: #fbf19a;
                font-weight: 600;
                font-size: 24px;
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
            }
            #artists #max #max-desc p {
                color: #053e5f;
                padding: 12px 0px;
            }
    #artists #jaime-marianne {
        margin: 24px 0px;  
    }
    #artists #jaime-marianne .artist{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 10px;
        background-color: rgba(5,62,95,0.5);
        padding: 24px;
        min-height: 900px;
    }
    #artists #jaime-marianne .artist h1{
        color: #914133;
        font-size: 3.4em;
        font-weight: 900;
        padding: 12px 0px;
    }
    #artists #jaime-marianne .artist p {
        margin: 14px 0px;
    }

    #artists #quote {
        flex: 1;
        display: flex;
    }
    #panday-sining {
        margin: 50px 0px;
    }
    #panday-sining h1 {
        color: #053E5F;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 900;
        font-size: 64px;
    }
    #panday-sining #quote {
        min-height: 100vh;
    }
    #panday-sining #meetps {
        display: flex;
        justify-content: center;
        padding: 50px;
        flex-direction: column;
    }
    #panday-sining #meetps p {
        color: #aaa;
        margin: 50px 0px;
    }
/*======================
Footer
======================*/
footer {
    padding: 24px 15px;
    background-color: #053E5F;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}


/*======================
Media
======================*/
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 890px) {
    .flex {
        flex-direction: column !important;
    }
    .md-reverse {
        flex-direction: column-reverse !important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .flex {
        flex-direction: row;
    }
    #symbolism .content h1,
    #symbolism .content div {
        width: 100% !important;
        margin: 5px 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    section#other .flex {
        flex-direction: column;
    }
}